Insights on CO2 emissions /
An analysis of emissions by country over time(1990-2021) and their correlations with the environment and human development

First part of this project is to analyse the nature of the emissions (in metric tons of CO2 emissions per capita):
- how did they increased/decreased over time
                 &
- which sectors of the economy are responsible for the emissions

Second part of this project is to analyse the possible correlations between the emissions and:

- human development: human development index, gross national income per capita and life expectancy

- environment: country/city temperature and forest area

In [1]:
import pandas as pd
import numpy as np

In [2]:
co2_production_country = pd.read_csv('Data/co2_production.csv')

co2_production_country.head()

,ISO3,Country,hdicode,region,hdi_rank_2021,co2_prod_1990,co2_prod_1991,co2_prod_1992,co2_prod_1993,co2_prod_1994,...,co2_prod_2012,co2_prod_2013,co2_prod_2014,co2_prod_2015,co2_prod_2016,co2_prod_2017,co2_prod_2018,co2_prod_2019,co2_prod_2020,co2_prod_2021
0,AFG,Afghanistan,Low,SA,180.0,0.209727,0.182525,0.095233,0.084285,0.075054,...,0.327922,0.261571,0.232967,0.229680,0.190617,0.188995,0.224492,0.319299,0.312376,0.312376
1,AGO,Angola,Medium,SSA,148.0,0.429586,0.413433,0.408015,0.439647,0.286180,...,1.346212,1.277248,1.235861,1.205736,1.088803,0.953168,0.791171,0.737992,0.675410,0.675410
2,ALB,Albania,High,ECA,67.0,1.656902,1.288961,0.768727,0.724712,0.607846,...,1.601835,1.697127,1.940611,1.555329,1.556278,1.838242,1.642153,1.688178,1.575754,1.575754
3,AND,Andorra,Very High,NaN,40.0,7.461153,7.176510,6.906331,6.730577,6.488824,...,5.912019,5.896947,5.828084,5.964928,6.067376,6.043168,6.423396,6.505535,6.034945,6.034945
4,ARE,United Arab Emirates,Very High,AS,26.0,28.277672,29.256027,28.134519,30.170919,31.644558,...,22.047365,22.330116,21.914832,23.381781,22.932086,17.795688,16.011240,15.780701,15.193336,15.193336

In [3]:
co2_production_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ISO3           195 non-null    object
 1   Country        195 non-null    object
 2   hdicode        191 non-null    object
 3   region         151 non-null    object
 4   hdi_rank_2021  191 non-null    float64
 5   co2_prod_1990  187 non-null    float64
 6   co2_prod_1991  188 non-null    float64
 7   co2_prod_1992  191 non-null    float64
 8   co2_prod_1993  191 non-null    float64
 9   co2_prod_1994  192 non-null    float64
 10  co2_prod_1995  192 non-null    float64
 11  co2_prod_1996  192 non-null    float64
 12  co2_prod_1997  192 non-null    float64
 13  co2_prod_1998  192 non-null    float64
 14  co2_prod_1999  192 non-null    float64
 15  co2_prod_2000  192 non-null    float64
 16  co2_prod_2001  192 non-null    float64
 17  co2_prod_2002  193 non-null    float64
 18  co2_prod_2003  193 non-null    float64
 19  co2_prod_2004  193 non-null    float64
 20  co2_prod_2005  193 non-null    float64
 21  co2_prod_2006  193 non-null    float64
 22  co2_prod_2007  193 non-null    float64
 23  co2_prod_2008  193 non-null    float64
 24  co2_prod_2009  193 non-null    float64
 25  co2_prod_2010  193 non-null    float64
 26  co2_prod_2011  193 non-null    float64
 27  co2_prod_2012  193 non-null    float64
 28  co2_prod_2013  193 non-null    float64
 29  co2_prod_2014  193 non-null    float64
 30  co2_prod_2015  193 non-null    float64
 31  co2_prod_2016  193 non-null    float64
 32  co2_prod_2017  193 non-null    float64
 33  co2_prod_2018  193 non-null    float64
 34  co2_prod_2019  193 non-null    float64
 35  co2_prod_2020  193 non-null    float64
 36  co2_prod_2021  193 non-null    float64
dtypes: float64(33), object(4)
memory usage: 56.5+ KB

In [4]:
co2_production_country.duplicated().any()

False

In [5]:
co2_production_country.isna().sum()

ISO3              0
Country           0
hdicode           4
region           44
hdi_rank_2021     4
co2_prod_1990     8
co2_prod_1991     7
co2_prod_1992     4
co2_prod_1993     4
co2_prod_1994     3
co2_prod_1995     3
co2_prod_1996     3
co2_prod_1997     3
co2_prod_1998     3
co2_prod_1999     3
co2_prod_2000     3
co2_prod_2001     3
co2_prod_2002     2
co2_prod_2003     2
co2_prod_2004     2
co2_prod_2005     2
co2_prod_2006     2
co2_prod_2007     2
co2_prod_2008     2
co2_prod_2009     2
co2_prod_2010     2
co2_prod_2011     2
co2_prod_2012     2
co2_prod_2013     2
co2_prod_2014     2
co2_prod_2015     2
co2_prod_2016     2
co2_prod_2017     2
co2_prod_2018     2
co2_prod_2019     2
co2_prod_2020     2
co2_prod_2021     2
dtype: int64

In [6]:
co2_production_country[co2_production_country.isna().any(axis=1)].head(35)

,ISO3,Country,hdicode,region,hdi_rank_2021,co2_prod_1990,co2_prod_1991,co2_prod_1992,co2_prod_1993,co2_prod_1994,...,co2_prod_2012,co2_prod_2013,co2_prod_2014,co2_prod_2015,co2_prod_2016,co2_prod_2017,co2_prod_2018,co2_prod_2019,co2_prod_2020,co2_prod_2021
3,AND,Andorra,Very High,NaN,40.0,7.461153,7.176510,6.906331,6.730577,6.488824,...,5.912019,5.896947,5.828084,5.964928,6.067376,6.043168,6.423396,6.505535,6.034945,6.034945
8,AUS,Australia,Very High,NaN,5.0,16.471401,16.398136,16.453819,16.549526,16.860062,...,17.580628,16.906991,16.920093,16.850700,17.143393,16.870352,16.708116,16.446992,15.368380,15.368380
9,AUT,Austria,Very High,NaN,25.0,8.045120,8.457575,7.692123,7.686282,7.679979,...,7.911257,7.919250,7.447395,7.645374,7.684142,7.891120,7.486503,7.589238,6.732425,6.732425
12,BEL,Belgium,Very High,NaN,13.0,12.022922,12.289365,12.155554,12.001454,12.289169,...,9.236138,9.203193,8.632538,8.952519,8.795879,8.708432,8.728936,8.643987,7.226206,7.226206
16,BGR,Bulgaria,High,NaN,68.0,8.674893,7.016917,6.611654,6.812691,6.655464,...,6.591312,5.854580,6.240562,6.705186,6.362234,6.699426,6.188305,6.031683,5.388846,5.388846
29,CAN,Canada,Very High,NaN,15.0,16.629828,16.124718,16.422700,16.253112,16.571550,...,16.300962,16.253686,15.998150,15.906585,15.379926,15.500352,15.629865,15.567316,14.196937,14.196937
30,CHE,Switzerland,Very High,NaN,1.0,6.636657,6.866108,6.773066,6.347552,6.150655,...,5.276541,5.325731,4.780793,4.668199,4.676956,4.515537,4.324335,4.276608,3.731913,3.731913
42,CYP,Cyprus,Very High,NaN,29.0,6.067844,6.564988,6.889613,7.034294,7.168234,...,6.397714,5.753733,6.031234,6.003867,6.300702,6.377249,6.172132,6.123855,5.380504,5.380504
43,CZE,Czechia,Very High,NaN,32.0,15.878995,14.390672,13.968561,13.383381,12.775871,...,10.517562,10.062388,9.828518,9.891583,10.046788,10.113002,9.950761,9.431222,8.215039,8.215039
44,DEU,Germany,Very High,NaN,9.0,13.313394,12.759012,12.079229,11.887968,11.626629,...,10.052591,10.242812,9.730928,9.727783,9.741451,9.507598,9.072083,8.518355,7.690142,7.690142
47,DNK,Denmark,Very High,NaN,6.0,10.420580,12.451958,11.288428,11.679563,12.413098,...,7.100497,7.404191,6.628196,6.188361,6.480325,6.060963,6.027754,5.353078,4.522442,4.522442
52,ERI,Eritrea,Low,SSA,176.0,NaN,NaN,NaN,NaN,0.335296,...,0.186013,0.189188,0.190672,0.189789,0.191147,0.206350,0.233047,0.238728,0.203679,0.203679
53,ESP,Spain,Very High,NaN,27.0,5.897431,6.130736,6.339152,6.101348,6.396560,...,5.927449,5.385108,5.452741,5.821363,5.591569,5.887613,5.776331,5.381169,4.468313,4.468313
54,EST,Estonia,Very High,NaN,31.0,24.053599,21.846586,16.014658,13.039586,13.750941,...,13.487646,14.963588,14.347436,12.057400,13.343841,14.240293,13.564312,9.339055,7.879475,7.879475
56,FIN,Finland,Very High,NaN,11.0,11.402296,11.003990,10.760200,11.110123,12.107088,...,9.461030,9.510622,8.723881,8.050596,8.590699,8.101814,8.302104,7.690672,7.090703,7.090703
58,FRA,France,Very High,NaN,28.0,6.935244,7.329248,7.121597,6.757259,6.616511,...,5.599557,5.595824,5.076611,5.118604,5.158359,5.197140,4.960292,4.850791,4.238073,4.238073
59,FSM,Micronesia (Federated States of),Medium,EAP,134.0,NaN,NaN,1.011845,0.987249,1.002169,...,1.192085,1.279856,1.261750,1.312273,1.296557,1.282086,1.268643,1.294118,1.282352,1.282352
61,GBR,United Kingdom,Very High,NaN,18.0,10.507575,10.620043,10.320708,10.045353,9.948186,...,7.555432,7.346229,6.703158,6.412681,6.023375,5.808181,5.687818,5.464368,4.854887,4.854887
68,GRC,Greece,Very High,NaN,33.0,8.158191,8.085335,8.155545,8.002457,8.120490,...,8.480608,7.610083,7.350598,7.032163,6.723642,7.082213,6.824351,6.276429,5.011497,5.011497
72,HKG,"Hong Kong, China (SAR)",Very High,NaN,4.0,4.739524,4.907400,5.612969,5.866370,5.180214,...,6.065421,6.250287,6.376160,5.899266,5.989984,5.824175,5.797554,5.619773,4.166851,4.166851
74,HRV,Croatia,Very High,NaN,40.0,4.810699,3.568527,3.459091,3.578044,3.446432,...,4.443446,4.310810,4.155129,4.209244,4.296700,4.474956,4.258055,4.304477,4.136637,4.136637
76,HUN,Hungary,Very High,NaN,46.0,7.056426,6.721593,5.993540,6.119200,5.965335,...,4.740045,4.432636,4.454680,4.767352,4.826425,5.082549,5.089673,5.067767,4.997282,4.997282
79,IRL,Ireland,Very High,NaN,8.0,9.383275,9.572563,9.488922,9.505570,9.764170,...,8.298689,8.079825,7.977144,8.315620,8.551467,8.232927,8.133995,7.634478,6.753776,6.753776
82,ISL,Iceland,Very High,NaN,3.0,8.737350,8.175092,8.668043,9.180449,8.918752,...,10.737843,10.644372,10.527581,10.707873,10.497703,10.780429,10.879889,10.473084,8.603839,8.603839
83,ISR,Israel,Very High,NaN,22.0,8.053408,7.876688,8.854210,8.973580,9.298577,...,9.820758,8.161991,7.684003,7.893085,7.549539,7.141471,7.223765,7.323728,6.510389,6.510389
84,ITA,Italy,Very High,NaN,30.0,7.704880,7.691514,7.687687,7.545852,7.442236,...,6.737655,6.146814,5.786856,5.964204,5.902450,5.815533,5.756820,5.611425,5.024911,5.024911
87,JPN,Japan,Very High,NaN,19.0,9.300873,9.362795,9.410228,9.325938,9.736157,...,10.169549,10.250952,9.859891,9.558895,9.421471,9.318411,8.989294,8.717694,8.149939,8.149939
94,KOR,Korea (Republic of),Very High,NaN,19.0,5.835935,6.355464,6.842533,7.449453,7.939220,...,12.563481,12.628512,12.460397,12.498523,12.538550,12.833525,13.125040,12.650477,11.656224,11.656224
101,LIE,Liechtenstein,Very High,NaN,16.0,6.911320,7.076031,7.002673,7.173645,6.609807,...,5.059948,5.212000,4.330118,4.259941,3.971268,4.107937,3.753891,3.903312,3.698332,3.698332
104,LTU,Lithuania,Very High,NaN,35.0,9.677316,10.236765,5.748615,4.455259,4.330085,...,4.710232,4.438382,4.410807,4.542989,4.620466,4.769710,4.889293,5.045283,5.069080,5.069080
105,LUX,Luxembourg,Very High,NaN,17.0,30.967990,32.206641,31.195419,31.135052,28.681793,...,20.469166,19.022044,17.737991,16.494307,15.696988,15.646467,15.835299,15.838461,13.058925,13.058925
106,LVA,Latvia,Very High,NaN,39.0,7.379189,6.764177,5.416803,4.615976,4.076854,...,3.634288,3.603205,3.548304,3.635278,3.652142,3.697868,4.075482,4.011133,3.590715,3.590715
108,MCO,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,MHL,Marshall Islands,Medium,EAP,131.0,NaN,NaN,1.562473,1.691156,1.678224,...,2.390289,2.445291,2.499169,2.487857,2.475102,2.524372,2.509031,2.569611,2.555837,2.555837
116,MLT,Malta,Very High,NaN,23.0,6.653039,6.179144,6.292353,7.797451,7.143010,...,6.544431,5.735760,5.691346,4.015601,3.222678,3.560819,3.502122,3.790205,3.612106,3.612106

Now I'm trying to find a way to fill in the NaN regions with the correct values. Found two files online that can help.

In [7]:
country_regions = pd.read_csv('Data/CLASS.csv')
regions_codes = pd.read_csv('Data/data-verbose.csv')

In [8]:
country_regions.head()

,Economy,Code,Region,Income group,Lending category
0,Aruba,ABW,Latin America & Caribbean,High income,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
4,Andorra,AND,Europe & Central Asia,High income,NaN

In [9]:
regions_codes.head()

              WORLDBANKREGION  Code
0         East Asia & Pacific   EAP
1       Europe & Central Asia   ECA
2       High income countries   HIC
3   Latin America & Caribbean   LAC
4  Middle East & North Africa  MENA

In [10]:
region_to_code = regions_codes.set_index('WORLDBANKREGION')['Code'].to_dict()

country_regions['Region code'] = country_regions['Region'].map(region_to_code)

country_regions.head()

,Economy,Code,Region,Income group,Lending category,Region code
0,Aruba,ABW,Latin America & Caribbean,High income,NaN,LAC
1,Afghanistan,AFG,South Asia,Low income,IDA,SA
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD,SSA
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,ECA
4,Andorra,AND,Europe & Central Asia,High income,NaN,ECA

In [11]:
countrycode_to_regioncode = dict(zip(country_regions['Code'], country_regions['Region code']))

co2_production_country['region'] = co2_production_country['ISO3'].map(countrycode_to_regioncode).combine_first(co2_production_country['region'])

co2_production_country['region'].isna().sum()

0

In [12]:
 co2_production_country[co2_production_country['region'].isna()]

Empty DataFrame
Columns: [ISO3, Country, hdicode, region, hdi_rank_2021, co2_prod_1990, co2_prod_1991, co2_prod_1992, co2_prod_1993, co2_prod_1994, co2_prod_1995, co2_prod_1996, co2_prod_1997, co2_prod_1998, co2_prod_1999, co2_prod_2000, co2_prod_2001, co2_prod_2002, co2_prod_2003, co2_prod_2004, co2_prod_2005, co2_prod_2006, co2_prod_2007, co2_prod_2008, co2_prod_2009, co2_prod_2010, co2_prod_2011, co2_prod_2012, co2_prod_2013, co2_prod_2014, co2_prod_2015, co2_prod_2016, co2_prod_2017, co2_prod_2018, co2_prod_2019, co2_prod_2020, co2_prod_2021]
Index: []

[0 rows x 37 columns]

In [13]:
nan_counts = co2_production_country.isna().sum(axis=1)

co2_production_country[nan_counts >= 5]

,ISO3,Country,hdicode,region,hdi_rank_2021,co2_prod_1990,co2_prod_1991,co2_prod_1992,co2_prod_1993,co2_prod_1994,...,co2_prod_2012,co2_prod_2013,co2_prod_2014,co2_prod_2015,co2_prod_2016,co2_prod_2017,co2_prod_2018,co2_prod_2019,co2_prod_2020,co2_prod_2021
108,MCO,Monaco,NaN,ECA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,SMR,San Marino,Very High,ECA,44.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,TLS,Timor-Leste,Medium,EAP,140.0,NaN,NaN,NaN,NaN,NaN,...,0.258713,0.470192,0.517929,0.502298,0.405679,0.400802,0.401664,0.405972,0.398727,0.398727

In [14]:
countries_to_drop = ['Monaco', 'San Marino']

co2_production_country = co2_production_country[~co2_production_country['Country'].isin(countries_to_drop)]

co2_production_country[nan_counts >= 5]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_21552\1215215980.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  co2_production_country[nan_counts >= 5]

,ISO3,Country,hdicode,region,hdi_rank_2021,co2_prod_1990,co2_prod_1991,co2_prod_1992,co2_prod_1993,co2_prod_1994,...,co2_prod_2012,co2_prod_2013,co2_prod_2014,co2_prod_2015,co2_prod_2016,co2_prod_2017,co2_prod_2018,co2_prod_2019,co2_prod_2020,co2_prod_2021
174,TLS,Timor-Leste,Medium,EAP,140.0,NaN,NaN,NaN,NaN,NaN,...,0.258713,0.470192,0.517929,0.502298,0.405679,0.400802,0.401664,0.405972,0.398727,0.398727

In [15]:
co2_production_country[nan_counts >= 2]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_21552\2263130019.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  co2_production_country[nan_counts >= 2]

,ISO3,Country,hdicode,region,hdi_rank_2021,co2_prod_1990,co2_prod_1991,co2_prod_1992,co2_prod_1993,co2_prod_1994,...,co2_prod_2012,co2_prod_2013,co2_prod_2014,co2_prod_2015,co2_prod_2016,co2_prod_2017,co2_prod_2018,co2_prod_2019,co2_prod_2020,co2_prod_2021
52,ERI,Eritrea,Low,SSA,176.0,NaN,NaN,NaN,NaN,0.335296,...,0.186013,0.189188,0.190672,0.189789,0.191147,0.206350,0.233047,0.238728,0.203679,0.203679
59,FSM,Micronesia (Federated States of),Medium,EAP,134.0,NaN,NaN,1.011845,0.987249,1.002169,...,1.192085,1.279856,1.261750,1.312273,1.296557,1.282086,1.268643,1.294118,1.282352,1.282352
113,MHL,Marshall Islands,Medium,EAP,131.0,NaN,NaN,1.562473,1.691156,1.678224,...,2.390289,2.445291,2.499169,2.487857,2.475102,2.524372,2.509031,2.569611,2.555837,2.555837
132,NRU,Nauru,NaN,EAP,NaN,13.106786,12.759115,12.054835,11.041120,10.470566,...,4.336095,4.665687,4.985519,5.293268,4.896993,5.198146,5.150890,5.266921,5.241223,5.241223
139,PLW,Palau,High,EAP,80.0,NaN,NaN,12.478557,12.146102,11.835856,...,12.670068,12.902988,12.472484,11.615058,11.989281,12.139488,11.867426,12.164038,12.123356,12.123356
142,PRK,Korea (Democratic People's Rep. of),NaN,EAP,NaN,6.031635,5.688114,4.917658,4.461095,4.018907,...,1.514682,1.083600,1.219002,0.977667,1.162193,0.856034,0.691745,1.144671,1.137023,1.137023
158,SOM,Somalia,NaN,SSA,NaN,0.101161,0.097276,0.093311,0.087539,0.085373,...,0.047833,0.048241,0.046948,0.045677,0.044943,0.043700,0.042479,0.043075,0.035370,0.035370
174,TLS,Timor-Leste,Medium,EAP,140.0,NaN,NaN,NaN,NaN,NaN,...,0.258713,0.470192,0.517929,0.502298,0.405679,0.400802,0.401664,0.405972,0.398727,0.398727

In [16]:
id_vars = ['ISO3', 'Country', 'hdicode', 'region', 'hdi_rank_2021']

melted_co2_production_country = pd.melt(co2_production_country, id_vars=id_vars, var_name='co2_prod_year', value_name='co2_prod').sort_values('Country')

melted_co2_production_country

     ISO3      Country hdicode region  hdi_rank_2021  co2_prod_year  co2_prod
0     AFG  Afghanistan     Low     SA          180.0  co2_prod_1990  0.209727
4053  AFG  Afghanistan     Low     SA          180.0  co2_prod_2011  0.401954
1930  AFG  Afghanistan     Low     SA          180.0  co2_prod_2000  0.036462
5597  AFG  Afghanistan     Low     SA          180.0  co2_prod_2019  0.319299
1158  AFG  Afghanistan     Low     SA          180.0  co2_prod_1996  0.061787
...   ...          ...     ...    ...            ...            ...       ...
5210  ZWE     Zimbabwe  Medium    SSA          146.0  co2_prod_2016  0.765313
5403  ZWE     Zimbabwe  Medium    SSA          146.0  co2_prod_2017  0.673026
5596  ZWE     Zimbabwe  Medium    SSA          146.0  co2_prod_2018  0.821010
2894  ZWE     Zimbabwe  Medium    SSA          146.0  co2_prod_2004  0.784415
6175  ZWE     Zimbabwe  Medium    SSA          146.0  co2_prod_2021  0.708562

[6176 rows x 7 columns]

In [17]:
melted_co2_production_country['co2_prod_year'] = melted_co2_production_country['co2_prod_year'].str.replace('co2_prod_', '')


melted_co2_production_country['co2_prod_year'] = pd.to_numeric(melted_co2_production_country['co2_prod_year'], errors='coerce')

melted_co2_production_country

     ISO3      Country hdicode region  hdi_rank_2021  co2_prod_year  co2_prod
0     AFG  Afghanistan     Low     SA          180.0           1990  0.209727
4053  AFG  Afghanistan     Low     SA          180.0           2011  0.401954
1930  AFG  Afghanistan     Low     SA          180.0           2000  0.036462
5597  AFG  Afghanistan     Low     SA          180.0           2019  0.319299
1158  AFG  Afghanistan     Low     SA          180.0           1996  0.061787
...   ...          ...     ...    ...            ...            ...       ...
5210  ZWE     Zimbabwe  Medium    SSA          146.0           2016  0.765313
5403  ZWE     Zimbabwe  Medium    SSA          146.0           2017  0.673026
5596  ZWE     Zimbabwe  Medium    SSA          146.0           2018  0.821010
2894  ZWE     Zimbabwe  Medium    SSA          146.0           2004  0.784415
6175  ZWE     Zimbabwe  Medium    SSA          146.0           2021  0.708562

[6176 rows x 7 columns]

In [22]:
melted_co2_production_country = melted_co2_production_country.sort_values(by=['Country', 'co2_prod_year']).reset_index(drop=True)

melted_co2_production_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6176 entries, 0 to 6175
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ISO3           6176 non-null   object
 1   Country        6176 non-null   object
 2   hdicode        6080 non-null   object
 3   region         6176 non-null   object
 4   hdi_rank_2021  6080 non-null   float64
 5   co2_prod_year  6176 non-null   int64
 6   co2_prod       6153 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 337.9+ KB

Now I want to replace the nan values of the CO2_prod column with the values by following the same trend of the other years(for the same country)

In [25]:
#melted_co2_production_country['co2_prod_year'] = melted_co2_production_country['co2_prod_year'].astype(float)

#g = melted_co2_production_country['co2_prod'].mask(melted_co2_production_country['co2_prod'].notnull(), melted_co2_production_country['co2_prod'].isnull().cumsum()).bfill()

#melted_co2_production_country['co2_prod'] = (melted_co2_production_country.groupby(['ISO3', g])['co2_prod'].apply(lambda x: x.interpolate(method="spline", order=1)))

In [26]:
#melted_co2_production_country['co2_prod'] = melted_co2_production_country.groupby('ISO3')['co2_prod'].fillna(method='ffill')

In [28]:
# Convert 'co2_prod_year' to float
melted_co2_production_country['co2_prod_year'] = melted_co2_production_country['co2_prod_year'].astype(float)

# Group by 'ISO3' and apply interpolation
melted_co2_production_country['co2_prod'] = melted_co2_production_country.groupby('ISO3')['co2_prod'].apply(
    lambda group: group.interpolate(method='spline', order=1, limit_direction='backward', limit_area=None)
)

# Fill remaining NaN values with the first non-NaN value in the group
melted_co2_production_country['co2_prod'] = melted_co2_production_country.groupby('ISO3')['co2_prod'].transform(lambda x: x.fillna(method='bfill').fillna(method='ffill'))

C:\Users\Usuario\AppData\Local\Temp\ipykernel_21552\3195192744.py:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  melted_co2_production_country['co2_prod'] = melted_co2_production_country.groupby('ISO3')['co2_prod'].apply(

In [30]:
melted_co2_production_country[melted_co2_production_country['ISO3'] == 'FSM']

,ISO3,Country,hdicode,region,hdi_rank_2021,co2_prod_year,co2_prod
3616,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1990.0,1.060279
3617,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1991.0,1.068577
3618,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1992.0,1.011845
3619,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1993.0,0.987249
3620,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1994.0,1.002169
3621,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1995.0,1.056273
3622,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1996.0,1.048550
3623,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1997.0,1.114583
3624,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1998.0,1.117385
3625,FSM,Micronesia (Federated States of),Medium,EAP,134.0,1999.0,1.155862
3626,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2000.0,1.194019
3627,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2001.0,1.333358
3628,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2002.0,1.266654
3629,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2003.0,1.370988
3630,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2004.0,1.340211
3631,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2005.0,1.139274
3632,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2006.0,1.147469
3633,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2007.0,1.262878
3634,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2008.0,1.061588
3635,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2009.0,1.423258
3636,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2010.0,0.996881
3637,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2011.0,1.133398
3638,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2012.0,1.192085
3639,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2013.0,1.279856
3640,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2014.0,1.261750
3641,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2015.0,1.312273
3642,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2016.0,1.296557
3643,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2017.0,1.282086
3644,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2018.0,1.268643
3645,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2019.0,1.294118
3646,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2020.0,1.282352
3647,FSM,Micronesia (Federated States of),Medium,EAP,134.0,2021.0,1.282352